<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kode OTP</title>
    <style>
        body {
            font-family: Verdana;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;color:#7126B5;font-weight:bold">Chat</h1>

    <p>Link Reset password https://localhost:3000/{{isi}}</p>
</body>

</html>